name: Test

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1

  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        test:
          - argocd
          - ldap-singleuser
          - keycloak

    env:
      GITHUB_REPOSITORY: ${{ github.repository }}
      GITHUB_REVISION: ${{ github.sha }}

    steps:
      - uses: actions/checkout@v6

      # https://github.com/jupyterhub/action-k3s-helm/
      - uses: jupyterhub/action-k3s-helm@v4
        with:
          k3s-channel: v1.31

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: pip
          cache-dependency-path: dev-requirements.txt

      - name: Cache Playwright browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          # If playwright version is bumped then refresh browsers
          key: ${{ runner.os }}-playwright-${{ hashFiles('dev-requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install -r dev-requirements.txt
          # Install Playwright system dependencies
          sudo apt-get update -y -q
          sudo env PATH="$PATH" playwright install-deps
          playwright install firefox

      - name: Set k8s ingress address
        run: |
          # Needs to resolve inside and outside the cluster
          K8S_HOSTNAME=$(hostname -I | awk '{print $1}').nip.io
          echo "K8S_HOSTNAME=$K8S_HOSTNAME" >> $GITHUB_ENV

      - name: Install deployment
        run: |
          cd ${{ matrix.test }}
          ../ci/run_codeblocks.py README.md --sub "<k8s-hostname>=$K8S_HOSTNAME" --run

      - name: Run tests
        run: |
          cd ${{ matrix.test }}
          pytest --browser firefox --base-url "http://$K8S_HOSTNAME"

      - name: Get logs, including on failure
        if: always()
        run: |
          if [ "${{ matrix.test }}" = argocd ]; then
            echo "::group::argocd-application-controller"
            kubectl -nargocd logs statefulset/argocd-application-controller
            echo "::endgroup::"

            echo "::group::argocd-repo-server"
            kubectl -nargocd logs deploy/argocd-repo-server
            echo "::endgroup::"

            echo "::group::argocd-server"
            kubectl -nargocd logs deploy/argocd-server
            echo "::endgroup::"
          fi

          if [ "${{ matrix.test }}" = keycloak ]; then
            echo "::group::keycloak"
            kubectl logs statefulset/keycloak
            echo "::endgroup::"
          fi

          if [ "${{ matrix.test }}" = ldap-singleuser ]; then
            echo "::group::ldap"
            kubectl logs deploy/ldap-test-openldap
            echo "::endgroup::"
          fi

          echo "::group::hub"
          kubectl logs deploy/hub
          echo "::endgroup::"

          echo "::group::proxy"
          kubectl logs deploy/proxy
          echo "::endgroup::"

  # Set a single status check for the whole workflow, so that we can use it in a
  # branch protection rule
  status-check:
    runs-on: ubuntu-24.04
    needs:
      - pre-commit
      - test
    if: always()
    steps:
      - name: Get job statuses
        uses: technote-space/workflow-conclusion-action@v3.0.3
        with:
          FALLBACK_CONCLUSION: failure
          STRICT_SUCCESS: true
        # Status is saved in env.WORKFLOW_CONCLUSION

      - name: Status check
        if: env.WORKFLOW_CONCLUSION != 'success'
        run: |
          exit 1
